<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>World reports</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/corona">
              <span data-feather="home"></span>
              Overall <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona">
              <span data-feather="file"></span>
              USA
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona">
              <span data-feather="shopping-cart"></span>
              Italy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona">
              <span data-feather="users"></span>
              Spain
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona">
              <span data-feather="bar-chart-2"></span>
              Brazil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona">
              <span data-feather="layers"></span>
              France
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Israel reports</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link active" href="/isrealoverall">
              <span data-feather="file-text"></span>
              Overall
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/isrealoverall">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/isrealoverall">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/isrealoverall">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

<BR>

<div>
    <main corona="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h2>Israel Currently Overall Status for {{overallDate}}</h2>
      <ngx-charts-number-card
      [view]="viewCard"
      [scheme]="colorScheme"
      [results]="overall"
      [cardColor]="cardColor"
      (select)="onSelect($event)">
    </ngx-charts-number-card>

    <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>

    <ngx-charts-gauge
      [view]="view"
      [scheme]="colorScheme"
      [results]="overallGauge"
      [legend]="legend"
      [legendPosition]="legendPosition"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-gauge>

    <BR><BR><BR><BR><BR><BR>

      <h2>Israel Verified Chart</h2>
      <div>
        <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="verified"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
      </ngx-charts-line-chart>
      </div>

      <h2>Israel Coronas Chart</h2>
      <div>
        <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
        >
      </ngx-charts-line-chart>
      </div>
      
      <BR><BR><BR><BR><BR><BR><BR>
      <h2>Israel Coronas List</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Overall Tests</th>
              <th scope="col">Verified</th>
              <th scope="col">Hospitalized</th>
              <th scope="col">Critical</th>
              <th scope="col">Respiration</th>
              <th scope="col">Deaths</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of israelData">
              <td>{{ data.date }}</td>
              <td>{{ data.overallTests }}</td>
              <td>{{ data.verified }}</td>
              <td>{{ data.hospitalized }}</td>
              <td>{{ data.critical }}</td>
              <td>{{ data.respiration }}</td>
              <td>{{ data.deaths }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
</div>
</div>