<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="\roles">
              <span data-feather="home"></span>
              Roles List <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="\addrole">
              <span data-feather="file"></span>
              Add New Role
            </a>
          </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Manage Accesss</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <span data-feather="file-text"></span>
                Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/roles">
                <span data-feather="file-text"></span>
                Roles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tenants">
                <span data-feather="file-text"></span>
                Tenants
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessions">
                <span data-feather="file-text"></span>
                Sessions
              </a>
            </li>      
            <li class="nav-item">
              <a class="nav-link" href="/events">
                <span data-feather="file-text"></span>
                User Events
              </a>
            </li>      
            <li class="nav-item">
              <a class="nav-link" href="/settings">
                <span data-feather="file-text"></span>
                Administration Settings
              </a>
            </li>             
          </ul>          
      </div>
    </nav>
    </div>

    <BR><BR>
  
    <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Role Name</label>
          <input type="text" class="form-control" id="name" placeholder="Role Name" required [(ngModel)]="model.name" name="name">
        </div>      
        <div *ngIf="heroForm.controls['name'].invalid && (heroForm.controls['name'].dirty || heroForm.controls['name'].touched)" class="alert alert-danger">
          <div *ngIf="heroForm.controls['name'].errors.required">Role Name is required</div>
        </div>
        <div class="form-group">
          <label for="permissions">Permissions</label>
          <select multiple class="form-control" name="permissions" [(ngModel)]="model.permissions" id="permissions" required>
            <option *ngFor="let permission of permissions" [value]="permission.name">{{permission.name}}</option>
          </select>
        </div>    
        <button type="submit" [disabled]="heroForm.pristine || heroForm.invalid" class="btn btn-primary">{{buttonName}}</button>
      </form>
      {{subitMsg}}
      <BR><BR>  
    
  <!-- {{diagnostic}} -->
    
</div>
