<BR><BR><BR><BR><BR><BR><BR><BR>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr>
        <tr>          
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Otp" [(ngModel)]="otp" type="password" name="otp">
          </mat-form-field></td>          
        </tr>
        <tr>          
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Tenant" [(ngModel)]="tenant" name="tenant" required>
            </mat-form-field></td>          
          </tr>        
        </table>
      </form>
      <!--<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
  {{clickMessage}}

  <BR>
  Login As: <BR>
  <button type="button" class="btn btn-danger" (click)="setCredentials('admin')" color="primary">Admin</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning" (click)="setCredentials('americaAdmin')" color="primary">America Admin</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning" (click)="setCredentials('europeAdmin')" color="primary">Europe Admin</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning" (click)="setCredentials('asiaAdmin')" color="primary">Asia Admin</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning" (click)="setCredentials('africaAdmin')" color="primary">Africa Admin</button><BR><BR>
  <button type="button" class="btn btn-danger" (click)="setCredentials('all')" color="primary">All User</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="setCredentials('americaUser')" color="primary">America User</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="setCredentials('europeUser')" color="primary">Europe User</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="setCredentials('asiaUser')" color="primary">Asia User</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="setCredentials('africaUser')" color="primary">Africa User</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="setCredentials('euroAsiaUser')" color="primary">Euro-Asia User</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" (click)="setCredentials('americaAfricaUser')" color="primary">America-Africa User</button>
<BR><BR><BR><BR><BR><BR><BR><BR>
