<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="\users">
              <span data-feather="home"></span>
              Users List <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="\adduser">
              <span data-feather="file"></span>
              Add New User
            </a>
          </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Manage Accesss</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="/users">
                <span data-feather="file-text"></span>
                Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/roles">
                <span data-feather="file-text"></span>
                Roles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tenants">
                <span data-feather="file-text"></span>
                Tenants
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sessions">
                <span data-feather="file-text"></span>
                Sessions
              </a>
            </li>      
            <li class="nav-item">
              <a class="nav-link" href="/events">
                <span data-feather="file-text"></span>
                User Events
              </a>
            </li>      
            <li class="nav-item">
              <a class="nav-link" href="/settings">
                <span data-feather="file-text"></span>
                Administration Settings
              </a>
            </li>             
          </ul>           
      </div>
    </nav>
  </div>

  <div style="width:1500px;">
    <main role="main" class="col-md-9 col-sm-7 ml-sm-auto col-lg-10 px-4">
      <h2>Users List</h2>
      <td> <button type="button" class="btn btn-success" (click)="onUserAdd(null)">Add User</button></td>
      <BR> 
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">User Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col">Tenants</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users" (click)="onRowSelected(user);">
              <td>{{ user.id }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.userName }}</td>
              <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
              <td>{{ user.roleName }}</td>
              <td>{{ user.tenantName }}</td>
              <td> <button type="button" class="btn btn-warning" (click)="onUserUpdate(user)">Update</button></td>
              <td> <button type="button" class="btn btn-danger" (click)="onUserDelete(user)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        {{clickMessage}}
      </div>
    </main>
  </div>
</div>