  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><img src="assets/img/virus.jpg" height="110" width="180"> {{ title }}</h1>
      <p align="justify">This website includes information regarding the Corona virus all over the world. In order to view the information you must login with a user assign to a specific role and tenant.
        Each user will be authenticate and authorize. Authentication means verifying that someone is indeed who they claim to be. Authorization means deciding which resources a certain user should be able to access, and what they should be allowed to do with those resources.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/corona" role="button">View Information &raquo;</a></p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Users</h2>
        <p align="justify">User is the person who is logging into and using the CoronaView application.
            Every user has one Role assigned to him, which defines his permissions and rights.
            User may be, for example, the system administrator of the enterprise, operator, technician or monitor. User belongs to a Tenant groups that define resources he can access. User shall belong to at least one Tenant.</p>
            <div style="text-align: center">
              <p><a class="btn btn-secondary" href="/users"   role="button">Manage Users &raquo;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              </div>
        </div>
      <div class="col-md-4">
        <h2>Roles</h2>
        <p align="justify">The Role is used to control the access to RV functions or dialogs.
            The default Roles are: Monitor, Technician, Operator, Administrator.
            For each Operation the access level can be: No access, Read only, Full access.
            </p>
        <div style="text-align: center">
            <p><a class="btn btn-secondary" href="/roles" role="button">Manage Roles &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Tenants</h2>
        <p align="justify">The Tenant is designed to allow/prevent a User access to specific entities.
        Tenants are defined by Users and resources that are linked to the respective Tenant.
        The administrator can create a Tenant that can use to represent a customer or a project and give a user access only to the entities that are define within the tenant.
        </p>
        <div style="text-align: center">
          <p><a class="btn btn-secondary" href="/tenants" role="button">Manage Tenants &raquo;</a></p>
        </div>
      </div>
    </div>
    <hr>
    <div style="text-align: center">
      <img src="assets/img/corona-world-map.jpg">   
    </div>
    <BR><BR>
  </div> <!-- /container -->