<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="\settings">
                <span data-feather="home"></span>
                Administration Settings <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="\settings" (click)="onTenantKeycloak()">
                <span data-feather="file-text"></span>
                Open Keycloak Realm
              </a>
            </li>          
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Manage Accesss</span>
              <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="/users">
                  <span data-feather="file-text"></span>
                  Users
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/roles">
                  <span data-feather="file-text"></span>
                  Roles
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tenants">
                  <span data-feather="file-text"></span>
                  Tenants
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sessions">
                  <span data-feather="file-text"></span>
                  Sessions
                </a>
              </li>      
              <li class="nav-item">
                <a class="nav-link" href="/events">
                  <span data-feather="file-text"></span>
                  User Events
                </a>
              </li>      
              <li class="nav-item">
                <a class="nav-link" href="/settings">
                  <span data-feather="file-text"></span>
                  Administration Settings
                </a>
              </li>          
            </ul>           
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h1>Administration Settings</h1>
        <BR>    

            <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
                <H2>Authentication</H2>
                <HR>
                <H3>Token</H3>
                    <div class="form-group">
                    <label for="ssoSessionIdle">SSO Session Idle (Minutes)</label>
                    <input type="number" class="form-control" id="ssoSessionIdle" aria-describedby="ssoSessionIdleHelp" placeholder="30" [(ngModel)]="model.authentication.token.ssoSessionIdle" name="ssoSessionIdle">
                    <small id="ssoSessionIdleHelp" class="form-text text-muted">If the user is not active for longer than this timeout, the user session will be invalidate</small>
                    </div>   
                    <div class="form-group">
                        <label for="ssoSessionMax">SSO Session Max</label>
                        <input type="number" class="form-control" id="ssoSessionMax" aria-describedby="ssoSessionMaxHelp" placeholder="600" [(ngModel)]="model.authentication.token.ssoSessionMax" name="ssoSessionMax">
                        <small id="ssoSessionMaxHelp" class="form-text text-muted">Maximum time before a user session is expired and invalidated. It controls the maximum time a user session can remain active, regardless of activity.</small>
                    </div>   
                    <div class="form-group">
                        <label for="offlineSessionIdle">Offline Session Idle</label>
                        <input type="number" class="form-control" id="offlineSessionIdle" aria-describedby="offlineSessionIdleHelp" placeholder="1500" [(ngModel)]="model.authentication.token.offlineSessionIdle" name="offlineSessionIdle">
                        <small id="offlineSessionIdleHelp" class="form-text text-muted">For offline access, this is the time the session is allowed to remain idle before the offline token is revoked. There is a small window of time that is always added to the idle timeout before the session is actually invalidated.</small>
                    </div>   
                    <div class="form-group">
                        <label for="accessTokenLifespan">Access Token Lifespan</label>
                        <input type="number" class="form-control" id="accessTokenLifespan" aria-describedby="accessTokenLifespanHelp" placeholder="20" [(ngModel)]="model.authentication.token.accessTokenLifespan" name="accessTokenLifespan">
                        <small id="accessTokenLifespanHelp" class="form-text text-muted">Max time before an access token is expired</small>
                    </div>                  

                <BR><H3>Password Policy</H3>
                  We have a rich set of password policies you can enable.<BR>
                    <div class="form-group">
                        <label for="expirePassword">Expire Password</label>
                        <input type="number" class="form-control" id="expirePassword" aria-describedby="expirePasswordHelp" placeholder="365" [(ngModel)]="model.authentication.passwordPolicy.expirePassword" name="expirePassword">
                        <small id="expirePasswordHelp" class="form-text text-muted">The number of days for which the password is valid. After the number of days has expired, the user is required to change their password.</small>
                    </div>    
                    <div class="form-group">
                        <label for="minimumLength">Minimum Length</label>
                        <input type="number" class="form-control" id="minimumLength" aria-describedby="minimumLengthHelp" placeholder="8" [(ngModel)]="model.authentication.passwordPolicy.minimumLength" name="minimumLength">
                        <small id="minimumLengthHelp" class="form-text text-muted">The Minimum length of the password</small>
                    </div>  
                    <div class="form-group">
                        <label for="notRecentlyUsed">Not Recently Used</label>
                        <input type="number" class="form-control" id="notRecentlyUsed" aria-describedby="notRecentlyUsedHelp" placeholder="3" [(ngModel)]="model.authentication.passwordPolicy.notRecentlyUsed" name="notRecentlyUsed">
                        <small id="notRecentlyUsedHelp" class="form-text text-muted">This policy saves a history of previous passwords. The number of old passwords stored is configurable. When a user changes their password they cannot use any stored passwords.</small>
                    </div>  
                    <div class="form-group">
                        <label for="digits">Digits</label>
                        <input type="number" class="form-control" id="digits" aria-describedby="digitsHelp" placeholder="1" [(ngModel)]="model.authentication.passwordPolicy.digits" name="digits">
                        <small id="digitsHelp" class="form-text text-muted">The number of digits required to be in the password string.</small>
                    </div>  
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="notUsername" aria-describedby="notUsernameHelp" placeholder="true" [(ngModel)]="model.authentication.passwordPolicy.notUsername" name="notUsername">
                        <label class="form-check-label" for="notUsername">Not User Name</label>
                        <small id="notUsernameHelp" class="form-text text-muted">When set, the password is not allowed to be the same as the username.</small>
                    </div>           
                                    
                <BR><H3>OTP Policy</H3>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="otpEnabled" aria-describedby="otpEnabledHelp" placeholder="365" [(ngModel)]="model.authentication.otpPolicy.enabled" name="otpEnabled">
                        <label class="form-check-label" for="otpEnabled">OTP Enabled</label>
                    </div>    
                    <div class="form-group">
                        <label for="optType">OTP Type</label>
                        <input type="text" class="form-control" id="optType" aria-describedby="optTypeHelp" placeholder="8" [(ngModel)]="model.authentication.otpPolicy.optType" name="optType">
                        <small id="optTypeHelp" class="form-text text-muted">There are two different algorithms to choose from for your OTP generators. Time Based (TOTP) and Counter Based (HOTP). For TOTP, your token generator will hash the current time and a shared secret. The server validates the OTP by comparing all the hashes within a certain window of time to the submitted value. So, TOTPs are valid only for a short window of time (usually 30 seconds). For HOTP a shared counter is used instead of the current time. The server increments the counter with each successful OTP login. So, valid OTPs only change after a successful login.</small>
                    </div>  
                    <div class="form-group">
                        <label for="numberOfDigits">OTP Number Of Digits</label>
                        <input type="number" class="form-control" id="notRecentlyUsed" aria-describedby="numberOfDigitsHelp" placeholder="8" [(ngModel)]="model.authentication.otpPolicy.numberOfDigits" name="numberOfDigits">
                        <small id="numberOfDigitsHelp" class="form-text text-muted">How many characters is the OTP? Short means more user friendly as it is less the user has to type. More means more security.</small>
                    </div>  
                    <div class="form-group">
                        <label for="optTokenPeriod">OTP Token Period</label>
                        <input type="number" class="form-control" id="optTokenPeriod" aria-describedby="optTokenPeriodHelp" placeholder="30" [(ngModel)]="model.authentication.otpPolicy.optTokenPeriod" name="optTokenPeriod">
                        <small id="optTokenPeriodHelp" class="form-text text-muted">Time interval in seconds during which the server will match a hash. Each time the interval passes, a new TOTP will be generated by the token generator.</small>
                    </div>  

                <H2>Authentication</H2>
                <HR>
            
                <H2>Events</H2>                
                <HR>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="eventsEnabled" aria-describedby="eventsEnabledHelp" placeholder="true" [(ngModel)]="model.events" name="eventsEnabled">
                        <label class="form-check-label" for="eventsEnabled">Events Enabled</label>
                        <small id="eventsEnabledHelp" class="form-text text-muted">Login events occur for things like when a user logs in successfully, when somebody enters in a bad password, or when a user account is updated. Every single event that happens to a user can be recorded and viewed. By default, no events are stored or viewed in the Admin Console. Only error events are logged to the console and the server’s log file. To start persisting you’ll need to enable storage.</small>
                    </div> 

                <H2>General</H2>                
                    <HR>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isOnline" aria-describedby="isOnlineHelp" placeholder="true" [(ngModel)]="model.isOnline" name="isOnline">
                            <label class="form-check-label" for="isOnline">is Online Data</label>
                            <small id="isOnlineHelp" class="form-text text-muted">info</small>
                        </div> 

                <button type="submit" [disabled]="heroForm.pristine || heroForm.invalid" class="btn btn-primary">Apply</button>
              </form>
              {{clickMessage}}
              <BR><BR>  
            
              <!-- {{diagnostic}} -->
      </main>
    </div>
  </div>
  